@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.5); }
  15% { opacity: 1; transform: scale(1); }
  70% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}
